<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col offset-lg-1 col-lg-10 col-md-12 col-sm-12 my-d-flex">
				<div class="blk1">
					<a href="" class="logo__link">
						<img src="images/logo.png" alt="LogoSporte" class="logo__img">
					</a>
					<span class="blk1-text">
						We took all the best from
					</span>
				</div>
				<div class="wrp-sub-block">
					<div class="blk2">
						<div class="list-title">
							<h3>Read</h3>
						</div>
						<ul class="ft-list">
							<li class="ft-list__items">
								<a href="" class="ft-list__link">Use of terms</a>
							</li>
							<li class="ft-list__items">
								<a href="" class="ft-list__link">About our company</a>
							</li>
							<li class="ft-list__items">
								<a href="" class="ft-list__link">Press</a>
							</li>
						</ul>
					</div>
					<div class="blk3">
						<div class="list-title">
							<h3>Info</h3>
						</div>
						<ul class="ft-list">
							<li class="ft-list__items">
								<a href="" class="ft-list__link">News</a>
							</li>
							<li class="ft-list__items">
								<a href="" class="ft-list__link">FAQ</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="wrp-sub-block">
					<div class="blk4">
						<div class="list-title">
							<h3>Social</h3>
						</div>
						<ul class="mob-list">
							<li class="mob-list__items">
								<a href="" class="mob-list__link">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="mob-list__items">
								<a href="" class="mob-list__link">
									<i class="fab fa-twitter-square"></i>
								</a>
							</li>
							<li class="mob-list__items">
								<a href="" class="mob-list__link">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="mob-list__items">
								<a href="" class="mob-list__link">
									<i class="fab fa-viber"></i>
								</a>
							</li>
							<li class="mob-list__items">
								<a href="" class="mob-list__link">
									<i class="fab fa-telegram-plane"></i>
								</a>
							</li>
						</ul>
						<ul class="ft-list">
							<li class="ft-list__items">
								<a href="" class="ft-list__link">Facebook</a>
							</li>
							<li class="ft-list__items">
								<a href="" class="ft-list__link">Twitter</a>
							</li>
							<li class="ft-list__items">
								<a href="" class="ft-list__link">Instagram</a>
							</li>
							<li class="ft-list__items">
								<a href="" class="ft-list__link">Viber</a>
							</li>
							<li class="ft-list__items">
								<a href="" class="ft-list__link">Telegram</a>
							</li>
						</ul>
					</div>
					<div class="blk5">
						<div class="list-title">
							<h3>Contact</h3>
						</div>
						<div class="wrp-mail">
							<i class="fas fa-envelope"></i>
							<a href="mailto:mail@logosporte.com" class="link-email">mail@logosporte.com</a>
						</div>
						<div class="wrp-selected">
							<i class="fas fa-chevron-down"></i>
							<select name="language[]" id="lang" class="ft-select">
								<option value="English">English</option>
								<option value="Russian">Russian</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col col-12">
				<div class="cop-text">
					<span>Made in Ukraine</span>
				</div>
			</div>
		</div>
	</div>
</footer>