<header class="main-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-4">
				<div class="navBurger" role="navigation" id="navToggle"></div>
				<div id="test" class="overlay ">
					<div class="overlayMenu my-d-flex">
						<div class="logo">
							<a href="" class="logo__link">
								<img src="images/logo.png" alt="LogoSporte" class="logo__img">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="offset-lg-5 col-lg-5 offset-md-3 col-md-6 col-sm-8 d-flex justify-content-end align-items-center">
				<a href="#" class="reg_acc">Already have an account?</a>
				<button type="submit" class="btn btn-lg">Log in</button>
			</div>
		</div>
	</div>
</header>