<header class="main-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-4">
			<div class="navBurger" role="navigation" id="navToggle"></div>
				<div id="test" class="overlay ">
					<div class="overlayMenu my-d-flex">
						<div class="logo">
							<a href="" class="logo__link">
								<img src="images/logo.png" alt="LogoSporte" class="logo__img">
							</a>
						</div>
						<nav class="menu">
							<ul class="menu__list">
								<li class="menu__items">
									<a href="" class="menu__link">works</a>
								</li>
								<li class="menu__items">
									<a href="" class="menu__link">designers</a>
								</li>
								<li class="menu__items">
									<a href="" class="menu__link">contests</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-8 d-flex justify-content-end">
				<div class="wrp-const">
					<span class="const__prise">
						120$
					</span>
					<i class="fas fa-envelope"></i>
					<div class="wrp-ring">
						<div class="bg-color">
							<span>4</span>
						</div>
						<i class="far fa-bell"></i>
					</div>
					<div class="wrp-img">
						<img src="images/user-icon.png" alt="user icon">
					</div>
					<div class="info">
						<span class="user-name">
							Adil
						</span>
						<i class="fas fa-chevron-down"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>