.profile,
.contest-info {
    .wrp-step {
        margin-top: 15px;
        margin-bottom: 30px;

        .step {
            color: $text-color_3;

            span {
                white-space: nowrap;
            }
        }
    }
}
.contest-info {
    .btn-mywork {
       @media screen and (max-width: 767px){
           font-size: 12px; 
           padding: 3px 23px;
       } 
    }
}
.contest {
    padding: 60px 0;

    .prf-hack {
        margin-bottom: 15px !important;
    }

    .mb-p {
        margin-bottom: 30px;
    }

    .bc-mb .block-contest {
        margin-bottom: 30px;
    }

    .works {
        position: relative;
        display: inline-block !important;

        &:hover {
            color: $main-color;
        }

        span {
            position: absolute;
            top: 7px;
            width: 10px;
            height: 10px;
            background-color: $main-color;
            border-radius: 50%;
            right: -15px;

        }
    }

    .sort__list {
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
            justify-content: center;
        }
    }
}


.block-navigate {
    .list {
        display: flex;

        @media screen and (max-width: 767px) {
            justify-content: center;
        }

        &__link {
            display: block;
            min-width: 196px;
            height: 42px;
            text-transform: capitalize;
            color: $text_color-2;
            font-size: 14px;
            font-weight: 600;
            line-height: 42px;
            text-align: center;
            border-style: solid;
            border-color: $border-color;
            border-width: 1px;
            transition: all .3s;

            &.activ {
                background-color: $main-color;
                color: #fff;
            }

            &:hover {
                color: #fff;
                background-color: $main-color;
            }

            @media screen and (max-width: 575px) {
                font-size: 12px;
                min-width: 150px;
            }
        }

        &__items {
            &:first-child .list__link {
                border-radius: 6px 0 0 6px;
            }

            &:last-child .list__link {
                border-radius: 0 6px 6px 0;
            }
        }
    }
}

.cinfo {

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__items {
        &:not(:last-child) {
            margin-right: 20px;

            @media screen and (max-width: 1199px) {
                margin-right: 10px;
            }
        }
    }

    &__text {
        font-size: 12px;
        font-weight: 500;
        color: $text_color-3;
        line-height: 1.5;
    }
}

.cnav {
    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        @media screen and (max-width: 991px) {
            display: none;
        }

        &.mob-activ {
            display: flex;
            position: absolute;
            flex-direction: column;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(#fff, .7);
            z-index: 1;
            padding: 10px;
            align-items: flex-end;

            .cnav__link i {
                display: none;
            }
        }
    }

    &__items {
        &:not(:last-child) {
            margin-right: 20px;

            @media screen and (max-width: 1199px) {
                margin-right: 10px;
            }
        }
    }

    &__link {
        color: $text_color-1;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;

        i {
            color: $text_color-3;

            &:hover {
                color: $main-color;
            }
        }

        &:hover {
            color: $main-color;
        }

        @media screen and (max-width: 575px) {
            font-size: 12px;
        }
    }
}

.mob__link {
    text-align: center;
    color: $text_color-3;
    display: none;

    @media screen and (max-width: 991px) {
        display: block;
        padding-top: 10px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 0;
    }
}

.mob-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $text_color-3;
    z-index: 2;
    display: none;

    &:hover {
        color: $main-color;
    }

    @media screen and (max-width: 991px) {
        display: block;
    }
}

.sort {
    &__list {
        display: flex;
        margin: 10px 0 15px 0;
    }

    &__items {
        font-size: 14px;
        color: $text_color-1;
        font-weight: 600;
        line-height: 1.5;

        @media screen and (max-width: 575px) {
            font-size: 12px;
        }
    }

    &__link {
        color: $text_color-1;

        &:hover {
            & i {
                color: $main-color;
            }
        }

        &.activ {
            color: $main-color;
        }

        i {
            font-size: 10px;
            color: $text_color-3;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 500;
        color: $text_color-3;
        line-height: 1.5;
        margin: 10px 0 15px 0;

        span {
            font-weight: 600;
            color: $main-color;
        }

        &--stl {
            span {
                color: #fa5120;
            }
        }

        @media screen and (max-width: 575px) {
            font-size: 12px;
        }
    }
}

.block-contest {
    max-width: 270px;
    margin: 0 auto;

    @media screen and (max-width: 991px) {
        margin-bottom: 30px;
    }

    .block-img {
        display: block;
        position: relative;
        border: 1px solid $border-color;
        border-radius: 6px 6px 0 0;
        min-height: 170px;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 6px 6px 0 0;
        }
    }

    .block-down {
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-width: 0 1px 1px;
        border-style: solid;
        border-color: $border-color;
        border-radius: 0 0 6px 6px;
        min-height: 50px;

        .btn-files {
            color: #6a6a6a;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            padding: 6px 19px;

            @media screen and (max-width: 575px) {
                font-size: 12px;
            }

            @include border;

            &:hover {
                background-color: $main-color;
                color: $white-color;
            }
        }

        .cswrp-link {
            display: flex;
        }
    }

    &.w-profile {
        margin-bottom: 30px;

        .block-profile {
            padding: 5px 15px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-width: 0 1px 1px;
            border-style: solid;
            border-color: $border-color;
        }
    }

    &.w-cancel {
        margin-bottom: 30px;

        .declined {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: rgba(#6a6a6a, .5);
        }

        .block-content {
            padding: 5px 12px;
            border-width: 0 1px 1px;
            border-style: solid;
            border-color: $border-color;

            .link-title {
                font-size: 14px;
                font-weight: 600;
                color: $text_color-2;

                &:hover {
                    color: $main-color;
                }

                @media screen and (max-width: 575px) {
                    font-size: 12px;
                }
            }
        }
    }

    &:hover {

        & .block-img,
        & .block-down,
        & .block-profile,
        & .block-content {
            border-color: $main-color;
        }
    }
}
.btn-link {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid $border-color;
    border-radius: 50%;

    &:hover {
        border-color: $main-color;

        & i {
            color: $main-color;
        }
    }

    i {
        font-size: 12px;
        color: $border-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:not(:last-child) {
        margin-right: 10px;
    }

    &.activ {
        position: relative;

        .activ {
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 10px;
            background-color: $main-color;
            font-size: 8px;
            padding-left: 1px;
            line-height: 10px;
            border-radius: 50%;
            text-align: center;
            font-weight: 400;
            color: $white-color;
        }
    }
}

.w-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 32px;
    background-color: $main-color;
    padding: 0 15px;
    border-radius: 6px;
    margin-bottom: 15px;

    span {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        color: $white-color;

        @media screen and (max-width: 575px) {
            font-size: 12px;
        }
    }
}

.block-prf {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-company {
    display: flex;
    justify-content: space-between;

    .cmp {
        margin-right: 40px;

        &__items {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            color: $text-color_3;
            text-transform: capitalize;

            @media screen and (max-width: 575px) {
                font-size: 12px;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .info {
        &__items {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color: $text-color_1;
            text-transform: capitalize;

            @media screen and (max-width: 575px) {
                font-size: 12px;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.contest-info {
    .wrp-brief {
        margin-left: auto;
        max-width: 135px;
    }
}

.infc {
    line-height: 1.5;

    &__list {
        margin-bottom: 30px;
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 575px) {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: 21px;
        }

        .infc-questions {
            max-width: 170px;
            color: $text-color_3;
            font-size: 16px;
            font-weight: 600;
            margin-right: 20px;

            @media screen and (max-width: 575px) {
                font-size: 14px;
                max-width: 100%;
                margin: 0 0 10px;
            }
        }

        .infc-answer {
            max-width: 355px;
            color: $text-color_2;
            font-size: 14px;
            font-weight: 500;

            @media screen and (max-width: 575px) {
                font-size: 12px;
                max-width: 100%;
            }
        }
    }
}

.type-block,
.color-block,
.upload-block {
    max-width: 170px;
    min-height: 170px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include border;

    &:hover {
        border-color: $main-color;
    }
}

.type-block {
    display: block;
}

.color-block,
.upload-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-block {
    color: #fff;

    &:hover {
        color: #fff;
    }

    &.cl-1 {
        background-color: #4ac420;
    }

    &.cl-2 {
        background-color: #1a8bfa;
    }

    &.cl-3 {
        background-color: #ffad17;
    }

    &.cl-4 {
        background-color: #fa5120;
    }
}

.upload-block {
    color: $text-color_3;
    font-size: 14px;

    i {
        font-size: 26px;
        margin-bottom: 5px;
    }
}

.inden {
    &__list {
        margin-bottom: 20px;
    }

    &__items {
        color: $text-color_2;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;

        span {
            color: $text-color_3;
            line-height: 1.8;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        &:first-child {
            color: $text-color_3;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }
}

.hidden,
.view {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
      
    i {
        font-size: 24px;
        margin-bottom: 5px;
    }
}
.hidden {
    background-color: #fff;
    color: $text-color_3;
}
.view {
    background-color: rgba(59, 59, 59, 0.3);
    color: #fff;
}
.logos-block {
    display: block;
    @include border;
    max-width: 270px;
    min-height: 170px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 30px;
    &:hover {
        border-color: $main-color;
    }
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        &:hover {
            border: 1px solid $main-color;
        }
    }

}
.wrp-logos {
    margin: 0 auto 30px;
    max-width: 270px;
    .logos-block {
        border-bottom: 0;
        border-radius: 6px 6px 0 0;
        margin-bottom: 0;
    }
    .block-btn {
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 50px;
        border: 1px solid $border-color;
        border-radius: 0 0 6px 6px;
    }
    &:hover {
        & .block-btn,
        & .logos-block {
            border-color: $main-color;
        }
    }
}
.block-medal {
    margin-left: auto;
}