@mixin header-button($bg-color) {
    max-width: 110px;
    padding: 11px 26px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    border-radius: 6px;
    border: 1px solid $border-color;
    background-color: $bg-color;
}
@mixin ct-button($width, $bg-color, $color) {
    width: $width;
    padding: 10px 23px;
    background-color: $bg-color;
    font-weight: 600;
    border: 1px solid $border-color;
    color: $color;
    border-radius: 6px;
}
@mixin rgsin-button($bg-color) {
    display: block;
    width: 100%;
    background-color: $bg-color;
    padding: 12px 0 12px 58px;
    font-weight: 500;
    color: $white-color;
    border-radius: 6px;
    position: relative;
    max-height: 42px;
        &::before {
            content: '';
            position: absolute;
            width: 42px;
            height: 100%;
            left: 0;
            bottom: 0;
            border-right: 1px solid $border-color;
        }
}