$img-path: '../images/';


$main-radius: 6px;
//---Text color
$text-color_1: #3B3B3B;
$text-color_2: #6A6A6A;
$text-color_3: #BBBBBB;


$border-color: #E6E6E6;

//---Color sites
$main-color: #4ac420;
$red-color: #fa5120;
$yellow-color: #ffad17;
$blue-color: #1a8bfa;
$white-color: #ffffff;

$hover-color: #3EAE18;
$bg-page: #FEFEFE;
$bg-block: #E2FFD8;



 
$main-font: 'Montserrat', sans-serif;